.category {
    padding: 24px 0 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 692px;
    gap: 15px;
    font-weight: 400px;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;

    @include tablet {
        padding: 16px 0 5px;
        font-size: 12px;
        line-height: 15px;
    }

    @include mobile {
        font-size: 10px;
        line-height: 12px;
        gap: 10px 30px;
        justify-content: flex-start;
    }

    &__link {
        transition: color 0.3s ease-in-out;
        position: relative;

        &:hover {
            color: gray;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 26px;
            height: 2px;
            background-color: $main-color;
            opacity: 0;

            @include tablet {
                bottom: -4px;
                width: 20px;
                height: 1px;
            }
        }

        &_active {
            pointer-events: none;

            &:after {
                opacity: 1;
            }
        }
    }
}