.footer-social {
    &__title {
        margin-bottom: 16px;

        @include mobile {
            margin-bottom: 8px;
        }
    }

    &__subtitle {
        margin-bottom: 20px;
        font-size: 14px;
        margin-bottom: 20px;

        @include tablet {
            margin-bottom: 16px;
            font-size: 12px;
            margin-bottom: 15px;
        }
    }

    &__list {
        display: flex;
        gap: 10px;
    }
    
    &__link_fb:hover {
        color: #3b5998;
    }

    &__link_vk:hover {
        color: #0077FF;
    }
}