.gender {
    display: flex;

&__item {
    flex-basis: 50%;
}
&__link {
    display: block;
    text-align: center;
    padding: 16px 0;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    border-bottom: 1px solid $light-gray;
    transition: color 0.3s ease-in-out;

    @include tablet {
        font-size: 16px;
        line-height: 19px;
    }

    @include mobile {
        font-size: 14px;
        line-height: 17px;
    }

    &:hover {
        color: gray;
        transition: color 0.3s ease-in-out;
    }

    &_active {
        border-color: $main-color;
        pointer-events: none;
    }
}

}

