.hero {
    background-color: $dark-gray;
    color: $second-color;
    margin-bottom: 80px;
    background-position: center;
    background-size: cover;

    @include tablet {
        margin-bottom: 64px;
    }

    @include mobile {
        margin-bottom: 24px;
    }

    &__women {
        background-image: url('../img/bg-women.jpg');

        @include laptop {
            background-image: url('../img/bg-laptop-women.jpg');
        }

        @include tablet {
            background-image: url('../img/bg-tablet-women.jpg');
        }
    
        @include mobile {
            background-image: url('../img/bg-mobile-women.jpg');
        }
    }

    &__men {
        background-image: url('../img/bg-men.jpg');

        @include laptop {
            background-image: url('../img/bg-laptop-men.jpg');
        }

        @include tablet {
            background-image: url('../img/bg-tablet-men.jpg');
        }
    
        @include mobile {
            background-image: url('../img/bg-mobile-men.jpg');
        }
    }

    &__content {
        max-width: 590px;
        padding: 172px 0 86px;

        @include tablet {
            max-width: 410px;
            padding: 150px 0 50px;
        }
    
        @include mobile {
            padding: 76px 0 24px;
        }
    }

    &__title  {
        font-size: 44px;
        line-height: 120%;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 40px;

        @include tablet {
            font-size: 30px;
            margin-bottom: 24px;
        }

        @include mobile {
            font-size: 20px;
            margin-bottom: 16px;
        }
    }
    &__link {
        display: inline-block;
        padding: 14px 40px;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        border: 1px solid $second-color;
        transition-property: background-color, border-color;
        transition-timing-function: ease-in-out;
        transition-duration: .3s;

        @include tablet {
            font-size: 10px;
            line-height: 12px;
            padding: 12px 40px;
        }

        &:hover {
            background-color: $dark-gray;
            border-color: $dark-gray;
        }
    }
}