html {
position: relative;
box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

body {
min-width: 320px;
min-height: 100vh;
font-family: Inter, sans-serif;
background-color: $second-color;
color: $main-color;
font-weight: 400;
}

img, svg {
max-width: 100%;
max-height: 100%;
height: auto;
display: block;
}


button {
display: block;
padding: 0;
cursor: pointer;
background-color: transparent;
border: none;
color: inherit;
}

a {
text-decoration: none;
color: inherit;
}

ul {
list-style: none;
padding: 0;
margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
margin: 0;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
position: fixed;
transform: scale(0);
}


/*
Пример контейнера

Если контейнер 1180px по макету,
то для max-width прибавляем паддинги 30px*2, 
в итоге 1240px
Чтобы контент не прижимался к краям экрана
*/

main {
    margin-bottom: 120px;

    @include tablet {
        --max-width: 80px;
    }
    @include mobile {
        --padding: 60px;
    }
}

.container {
--max-width: 1180px;
--padding: 30px;
max-width: calc(var(--max-width) + var(--padding) * 2);
padding: 0 var(--padding);
margin: 0 auto;

@include laptop {
    --max-width: 880px;
}
@include laptop {
    --max-width: 620px;
}
@include laptop {
    --padding: 15px;
}
}
