@import '~normalize.css';
@import 'style/fonts';
@import 'style/var';
@import 'style/style';
@import 'style/header';
@import 'style/navigation';
@import 'style/gender';
@import 'style/category';
@import 'style/hero';
@import 'style/goods';
@import 'style/product';
@import 'style/color';
@import 'style/footer';
@import 'style/footer-category';
@import 'style/footer-social';
@import 'style/footer-contacts';
@import 'style/footer-development';
@import 'style/footer-copyright';